{% extends 'base.html' %}
{% block title%}Главная страница{% endblock %}

{% block content %}
	<div style="float: right;">
		{% if request.user.is_authenticated %}
			{{ request.user }}
			<a href="{% url 'changepas' %}">Изменить пароль</a>
			<a href="{% url 'logout' %}">Выйти</a>
		{% else %}
			<a href="{% url 'login' %}">Войти</a>
			<a href="{% url 'register' %}">Зарегестрировать</a>
		{% endif %}
	</div>
	<form method="post">
		{% csrf_token %}
		{{ form.content }}
		{{ form.my_comment }}
		<input type="submit" value="Поиск">
	</form>
	{% for c in com %}
		{{ c }}<br>
		{{ c.content }}<br>
	{% endfor %}
	<a href="{% url 'create_comment' %}">Написать комментарий</a>
{% endblock %}
