{% extends 'base.html' %}
{% load subtract %}
{% block titles %}Главная страница{% endblock %}

{% block content %}
    <a href="{% url 'sessions_for_tomorrow' %}">Сеансы на завтра</a>
    {% if user.is_authenticated %}
        {{ user }}
        <a href="{% url 'logout' %}">Выйти</a>
        <a href="{% url 'purchases' %}">Покупки</a>
        {% if user.is_superuser %}
            <a href="{% url 'create_cinema_hall' %}">Создать зал</a>
            <a href="{% url 'create_session' %}">Создать сеанс</a>
        {% endif %}
        <div>
            <form>
                {{ filter }}
                <input type="submit" value="Фильтровать">
            </form>
        </div>
    {% else %}
        <a href="{% url 'login' %}">Войти</a>
        <a href="{% url 'register' %}">Зарегистрироваться</a>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}
    {% for session in sessions %}
        <div>
            <form method="post" action="{% url 'create_ticket' %}">
                {% csrf_token %}
                <p>Зал: {{ session.hall.name }}
                    {% if user.is_superuser %}
                        <a href="{% url 'update_cinema_hall' session.hall.pk %}">Изменить зал</a><p><br>
                    {% endif %}
                    Свободных мест: {{ session.hall.size|sub:session.total }}<br>
                    Время: {{ session.start_time|time:"H:i" }} - {{ session.end_time|time:"H:i" }}<br>
                    Дата показа: {{ session.get_show_date }}<br>
                    Цена билета: {{ session.price }}<br>
                    {% if user.is_authenticated %}
                        {{ quantity.quantity }}
                        <input type="hidden" name="session" value='{{ session.pk }}'>
                        <input type="submit" value="Купить">
                    {% endif %}
                    {% if user.is_superuser %}
                        <a href="{% url 'update_session' session.pk %}">Изменить сеанс</a>
                    {% endif %}
            </form>
        </div>
    {% endfor %}
    {% if page_obj.paginator.num_pages > 1 %}
        {% for num in page_obj.paginator.page_range %}
            {% ifequal num page_obj.number %}
                <span class="current"><b>{{ num }}</b></span>
            {% else %}
                <a href="?page={{ num }}"> {{ num }}</a>
            {% endifequal %}
        {% endfor %}
    {% endif %}
{% endblock %}