{% extends 'base.html' %}

{% block title %}Список возврата{% endblock %}

{% block content %}
	{% for product_return in object_list %}
		{{product_return}}
		<form method="post" action="{% url 'delete_purchase' product_return.purchase.pk %}">
			{% csrf_token %}
			<input type="hidden" name="purchases_pk" value="{{product_return.purchase.product.pk}}">
			<input type="hidden" name="purchases_price" value="{{product_return.purchase.product.price}}">
			<input type="hidden" name="purchases_quantity" value="{{product_return.purchase.quantity}}">
			<input type="hidden" name="purchases_buyer" value="{{product_return.purchase.buyer.pk}}">
    		<input type="submit" value="Принять">
		</form>
		<form method="post" action="{% url 'delete_purchase_return' product_return.pk %}">
			{% csrf_token %}
    		<input type="submit" value="Отклонить">
		</form>
	{% endfor %}
{% endblock %}